


%nav.navbar.navbar-expand-lg.fixed-top.bg-body-tertiary{ "data-bs-theme" => "" }
	.container-fluid
		%a.navbar-brand{:href => "#"} Navbar
		%button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
			%span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			%ul.navbar-nav.me-auto.mb-2.mb-lg-0
				-# %ul.navbar-nav.flex-row.flex-wrap.ms-md-auto
				%li.nav-item
					%a.nav-link.active{"aria-current" => "page", :href => "/"} Home
				-# %li.nav-item
				-# 	%a.nav-link{:href => "pc"} Link
				%li.nav-item.dropdown
					%a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
						Demos
					%ul.dropdown-menu
						%li
							%a.dropdown-item{:href => "/pc"} Producer/Consumer
						%li
							%a.dropdown-item{:href => "#"} WIP
						-# %li
						-# 	%hr.dropdown-divider/
						-# %li
						-# 	%a.dropdown-item{:href => "#"} Something else here
				-# %li.nav-item
				-# 	%a.nav-link.disabled Disabled
			%ul.navbar-nav.flex-row.flex-wrap.ms-md-auto
				%li.nav-item.dropdown
					%button#bd-theme.btn.btn-link.nav-link.dropdown-toggle.d-flex.align-items-center{"aria-expanded" => "false", "aria-label" => "Toggle theme (dark)", "data-bs-display" => "static", "data-bs-toggle" => "dropdown", :type => "button"}
						%i.fa-solid.fa-moon.theme-icon-active{ "data-fa-icon" => "fa-moon" }

						%span#bd-theme-text.d-lg-none.ms-2 Toggle theme
					%ul.dropdown-menu.dropdown-menu-end{"aria-labelledby" => "bd-theme-text"}
						%li
							%button.dropdown-item.d-flex.align-items-center{"aria-pressed" => "false", "data-bs-theme-value" => "light", :type => "button"}
								%i.fa-solid.fa-sun.me-2.theme-icon{ "data-fa-icon" => "fa-sun" }
								Light
								%i.fa-solid.fa-check.ms-auto.d-none
						%li
							%button.dropdown-item.d-flex.align-items-center.active{"aria-pressed" => "true", "data-bs-theme-value" => "dark", :type => "button"}
								%i.fa-solid.fa-moon.me-2.theme-icon{ "data-fa-icon" => "fa-moon" }
								Dark
								%i.fa-solid.fa-check.ms-auto.d-none
						%li
							%button.dropdown-item.d-flex.align-items-center{"aria-pressed" => "false", "data-bs-theme-value" => "auto", :type => "button"}
								%i.fa-solid.fa-circle-half-stroke.me-2.theme-icon{ "data-fa-icon" => "fa-circle-half-stroke" }
								Auto
								%i.fa-solid.fa-check.ms-auto.d-none
			-# %ul.navbar-nav.me-auto
			-# 	%li.nav-item.dropdown
			-# 		%button#bd-theme.btn.btn-link.nav-link.dropdown-toggle.d-flex.align-items-center{"aria-expanded" => "false", "aria-label" => "Toggle theme (dark)", "data-bs-display" => "static", "data-bs-toggle" => "dropdown", :type => "button"}
			-# 			%svg.bi.my-1.theme-icon-active
			-# 				%use{:href => "#moon-stars-fill"}
			-# 			%span#bd-theme-text.d-lg-none.ms-2 Toggle theme
			-# 		%ul.dropdown-menu.dropdown-menu-end{"aria-labelledby" => "bd-theme-text"}
			-# 			%li
			-# 				%button.dropdown-item.d-flex.align-items-center{"aria-pressed" => "false", "data-bs-theme-value" => "light", :type => "button"}
			-# 					%svg.bi.me-2.opacity-50.theme-icon
			-# 						%use{:href => "#sun-fill"}
			-# 					Light
			-# 					%svg.bi.ms-auto.d-none
			-# 						%use{:href => "#check2"}
			-# 			%li
			-# 				%button.dropdown-item.d-flex.align-items-center.active{"aria-pressed" => "true", "data-bs-theme-value" => "dark", :type => "button"}
			-# 					%svg.bi.me-2.opacity-50.theme-icon
			-# 						%use{:href => "#moon-stars-fill"}
			-# 					Dark
			-# 					%svg.bi.ms-auto.d-none
			-# 						%use{:href => "#check2"}
			-# 			%li
			-# 				%button.dropdown-item.d-flex.align-items-center{"aria-pressed" => "false", "data-bs-theme-value" => "auto", :type => "button"}
			-# 					%svg.bi.me-2.opacity-50.theme-icon
			-# 						%use{:href => "#circle-half"}
			-# 					Auto
			-# 					%svg.bi.ms-auto.d-none
			-# 						%use{:href => "#check2"}


			-# %form.d-flex{:role => "search"}
			-# 	%input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
			-# 	%button.btn.btn-outline-success{:type => "submit"} Search

