// Place all the styles related to the pc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	.container-body {
		min-height: 600px;
		text-align: left;
	}
}

.color-patch {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
