%table#report-table.table.table-striped{ style: 'display: none;'}
	%thead
		%tr
			%th Name
			%th Rows
			%th Columns
			%th Threads
			%th Benchmark (s)
			%th Generated at
			%th 
	%tbody#report-rows
